**/*.map
**/*.spec.*
**/*.ts
src
app.json
appveyor.yml
AUTHORS
.circleci
.codeclimate.yml
CODE_OF_CONDUCT.md
CODEOWNERS
CONTRIBUTING.md
Dockerfile
Dockerfile.alpine
Dockerfile.onbuild
.dockerignore
docs
.editorconfig
examples
.git
.github
.gitignore
.markdownlintrc
node_modules
.npmignore
package-lock.json
README.md
scripts
shippable.yml
tests
TODO.md
.travis.yml
tsconfig.json
tslint.json
.vscode
wercker.yml
dist/examples
dist/scripts
dist/tests
